@use "../../global/" as global;
/* ================================
.p-dashboard
================================ */
.p-dashboard {
  padding: 38px 0 100px;
  background-color: #f7f7f7;
}

.p-dashboard__section {
  & + & {
    margin-top: 80px;
  }
}

/* ================================
.p-dashboard-schedule
================================ */
.p-dashboard-schedule {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 18px 0 35px;
}

.p-dashboard-schedule__item {
  position: relative;
  width: calc(100% / 7 - 10px * 6 / 7);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  height: 165px;
  padding: 5px;
  background-color: #fff;
}

.p-dashboard-schedule__item-inner {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .event {
    width: 100%;
    height: 21px;
    max-height: 21px;
    background-color: #999;
    color: #FFF;
    border-radius: 6px;
    font-size: 12px;
    padding: 0 4px;
  }
}

.p-dashboard-schedule__item-date {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  padding-top: 7px;

  .is--red {
    color: red;
  }
}

/* ================================
.p-dashboard-today
================================ */
.p-dashboard-today {
  position: relative;
  margin: 25px 0 0;
  padding: 35px 0 19px 95px;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.p-dashboard-today__date {
  position: absolute;
  left: 0;
  top: 8px;
  font-size: 14px;
  font-weight: 400;

  .is--red {
    color: red;
  }
}

.p-dashboard-today__range {
  position: absolute;
  top: 0;
  left: 95px;
  width: calc(100% - 95px);
  height: 100vw;
  display: flex;

  .item {
    flex: 1;
    display: block;
    border-left: 1px dashed #999;

    span {
      vertical-align: top;
      transform: translate(-50%, 0);
      background-color: #f7f7f7;
      font-size: 11px;
      font-weight: 700;
      color: #555;
    }
  }
}

.p-dashboard-today__item {
  position: relative;
  z-index: 1;
  background-color: #999;
  color: #FFF;
  display: block;
  border-radius: 6px;
  font-size: 14px;
  padding: 4px 10px;
}
